
html {
    font-size: 16px; 
    font-family: 'Noto Sans', sans-serif; 
}


body {
    background-color: #EDF2C5;  
    text-align: center;  
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: 900; 
    padding: 10px 10px 1x 0px; 
    color: #778A50; 
    font-size: 44px; 
    text-align: start; 
    text-transform: uppercase; 
    letter-spacing: 0.3em; 
    margin-left: 20px;
}

h2 {
    padding: 15px 10px 15px 10px; 
    font-size: 16px; 
    font-weight: 900; 

    color: #EDF2C5; 
    text-align: left; 
    background-color: #778A50; 
    margin: 0 ;
}

h4 {
    font-size: 14px; 
    font-weight: 900; 
    color: #778A50; 
    text-align: right; 
    margin: 0 5px;
    padding: 8px 15px; 
    border: 2px solid #778A50; 
    display: inline-block;
}



h5 {
    color: #EDF2C5; 
    font-size: 12px; 
    font-weight: 400; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
    background-color: #778A50; 
}


.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


.auth-buttons {
    display: flex;
}


.header {
    color: #EDF2C5; 
    font-size: 16px; 
    font-weight: 900;
    text-decoration:  none; 
    margin: 10px; 
    padding: 0;
    background-color: #778A50; 
    text-align: left; 
}


.header ul {
    display: flex;           
    justify-content: left; 
    align-items: center;     
    list-style: none;        
    margin: 0;               
    padding: 0;             
}


.header li {
    margin: 0px 45px;         
}


a {
    color: #EDF2C5; 
    text-decoration: none; 
    display: block;          
    padding: 10px 15px;       
    white-space: nowrap;     
}


p {
    color: #7D7D7D; 
    font-size: 12px;
    font-weight: 400; 
    margin: 0 auto; 
    padding: 15px; 
    text-align: justify; 
    background-color: #F7FBDA;
}


img {
    max-width: 100%;
    height: auto;
}

.banner {
    margin: 10px;
}

.banner img {
    width: 100%;
}


.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}


.left-content {
    flex: 3;
    background-color: #F7FBDA;
}


.right-content {
    flex: 2;
    background-color: #F7FBDA;
}


.divider {
    border: none; 
    height: 1px; 
    background-color: #7D7D7D; 
    margin: 15px 10px; 
    opacity: 0.5; 



.image-grid {
    display: flex ;
    justify-content: space-between; 
    align-items: center; 
    padding:10px 50px 15px 20px;
    gap: 50px; /
}


.image-grid img {
    flex: 0 0 32%; 
    width: 32%;
    height: 200px;
    object-fit: cover;
}

.contact-content {
    padding: 10px 0px 10px 0px;
}


footer {
    background-color: #EDF2C5;
}}